@using CarsShop.Models
@model IList<Car>
@{
    ViewBag.Title = "MyDeclarations";
    
}

<h2 style="text-align:center">Мои объявления</h2>



<table class="table table-hover ">

    <thead>
        <tr>
            <th>#</th>
            <th>Владелец</th>
            <th>Данные</th>
            <th>Время добавления</th>
        </tr>
    </thead>
    @for(int i = 0 ; i < Model.Count; i++)
    { 
    <tbody>
        <tr class="info" id="@("entry" + Model[i].CarId)">
            <td>@(i+1)</td>
            <td>@Model[i].Author</td>
            <td>@(Model[i].Mark +" "+ Model[i].Series +" "+Model[i].Year) </td>
            <td>@Model[i].DateAdded</td>
            <td><a href="#" class="btn btn-danger btn-xs" onclick="@("deleteCar('"+ Model[i].CarId + "')")">Удалить</a></td>
            <td><a href="@Url.Action("EditView", "UserActions", new { CarId = Model[i].CarId })" class="btn btn-info btn-xs">Редактировать</a></td>
        </tr>
        
    </tbody>
    }
    
</table>

<script>
    function deleteCar(CarId) {
        $.get("/UserActions/DeleteCar?CarId=" + CarId, function () {
            var row = $("#entry" + CarId)
            row.replaceWith("")
        })
    }
</script> 

<script>
    $(document).ready(function () {
       
        $("tr td").hover(function () { $(this).css("color", "red"); }, function () { $(this).css("color", "black") });
    });
</script>