@model CarsShop.Models.MainParametrsCar
@{
    ViewBag.Title = "Home Page";
}

<form action="/Search/SearchResults" method="post">
    <div class="jumbotron" style="margin-top: inherit; margin-left:-1px; width:1170px;">
        <h2 style="font-size:36px; text-align: center;"><b>Поиск транспорта</b></h2>
        <p class="lead" style="text-align:center">Выбирите параметры посика автомобиля</p>

        <div class="row">
            <div class="col-md-3">

                <span class="helvetica4">
                    Марка
                </span>
                    <select style="width: 120px; height: 30px; margin-left: 42px;border-radius:15px" id="Mark" name="Mark">
                    <option value="" selected></option>
                    <option value="Audi">Audi</option>
                    <option value="BMW">BMW</option>
                    <option value="Citroen">Citroen</option>
                    <option value="Ford">Ford</option>
                    <option value="Gelly">Gelly</option>
                    <option value="Hodna">Hodna</option>
                    <option value="Infiniti">Infiniti</option>
                    <option value="Lexus">Lexus</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedes">Mercedes</option>
                    <option value="Opel">Opel</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Skoda">Skoda</option>
                    <option value="Wolkswagen">Wolkswagen</option>
                </select>

                <br />
                <span class="helvetica4">
                    Модель
                </span>
                <select style="width: 120px; height: 30px; margin-left: 28px; border-radius: 15px" id="Series" name="Series"></select>
                <script src="~/Scripts/Mark_script.js"></script>
                <br />
                <span class="helvetica4">
                    Тип кузова
                </span>
                <select style="width:120px;height:30px; border-radius:15px" id="BodyType" name="BodyType">
                    <option value="" selected></option>
                    <option value="Седан">Седан</option>
                    <option value="Универсал">Универсал</option>
                    <option value="Купэ">Купэ</option>
                    <option value="Кабриолет">Кабриолет</option>
                    <option value="Внедорожник">Внедорожник</option>
                </select>

                <br />
            </div>

            <div class="col-md-4">
                <span class="helvetica4">
                    Тип топлива
                </span>
                <select style="width: 100px; height: 30px; margin-left: 14px; border-radius: 15px" id="FuelType" name="FuelType">
                    <option value=""></option>
                    <option value="газ">Газ</option>
                    <option value="бензин">Бензин</option>
                    <option value="ДТ">ДТ</option>
                </select>

                <br />

                <span class="helvetica4">
                    Трансмиссия
                </span>
                <select style="width:120px;height:30px; border-radius:15px" id="Transmission" name="Transmission">
                    <option value=""></option>
                    <option value="Автоматическая">Автоматическая</option>
                    <option value="Механическая">Механическая</option>
                </select>

                <br />
            </div>

            <div class="col-md-5">
                <span class="helvetica4">Цена от</span>
                <select style="width: 70px; height: 30px; margin-left: 55px; border-radius:15px" id="Price_min" name="Price_min">
                    <option value=""></option>
                    <option value="менее 10000">менее 10000</option>
                    <option value="15000">15000</option>
                    <option value="20000">20000</option>
                    <option value="25000">25000</option>
                    <option value="50000">50000</option>
                    <option value="100000">100000</option>

                </select>
                <span class="helvetica4" style="margin-left:91px;">до</span>
                <select style="width:70px;height:30px; border-radius:15px" id="Price_max" name="Price_max">
                    <option value=""></option>
                    <option value="15000">15000</option>
                    <option value="20000">20000</option>
                    <option value="25000">25000</option>
                    <option value="50000">50000</option>
                    <option value="100000">100000</option>
                    <option value="более 100000">более 100000</option>
                </select>
                <br />

                <span class="helvetica4">Год выпуска с</span>
                <select style="width:70px;height:30px; border-radius:15px" id="Year_min" name="Year_min">
                    <option value=""></option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2013">2013</option>
                </select>

                <span class="helvetica4" style="margin-left: 91px;">по</span>
                <select style="width:70px;height:30px; border-radius:15px" id="Year_max" name="Year_max">
                    <option value=""></option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                </select>
                <br />

            </div>
        </div>
 
        <div class="panel-group" id="accordion" style="margin-top:17px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="margin-left:766px">
                            <font face="Helveica" size="4">
                                Расширенный поиск
                            </font>
                        </a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse out">
                    <div class="panel-body" style="background-color:beige">
                        <div class="row " style="margin-left:20px">
                            <div class="col-md-6">

                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.Conditioner)
                                            @Html.LabelFor(m => m.Conditioner)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.LeatherSeats)
                                            @Html.LabelFor(m => m.LeatherSeats)
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.HeatedSeats)
                                            @Html.LabelFor(m => m.HeatedSeats)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.Parktronic)
                                            @Html.LabelFor(m => m.Parktronic)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.Ksenon)
                                            @Html.LabelFor(m => m.Ksenon)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.Speakerphone)
                                            @Html.LabelFor(m => m.Speakerphone)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.LegkosplavlennyeWheels)
                                            @Html.LabelFor(m => m.LegkosplavlennyeWheels)

                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div class="col-md-10">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.ESP)
                                            @Html.LabelFor(m => m.ESP)

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <span class="helvetica4">
                                    Страна
                                </span>
                                <select id="country" style="width: 120px; height: 30px; margin-left: 18px; border-radius: 15px" name="Country">
                                    <option value="" selected></option>
                                    <option value="Беларусь">Беларусь</option>
                                    <option value="Германия">Германия</option>
                                    <option value="Россия">Россия</option>
                                    <option value="Польша">Польша</option>
                                    <option value="Литва">Литва</option>
                                    <option value="Украина">Украина</option>
                                </select>
                                <br />
                                <span class="helvetica4">
                                    Город
                                </span>
                                <select id="town" style="width: 120px; height: 30px; margin-left: 32px; border-radius: 15px" name="City"></select>
                                <script src="~/Scripts/City_script.js"></script>
                                <br />

                                <span class="helvetica4">
                                    Привод
                                </span>
                                <select style="width: 120px; height: 30px; margin-left: 18px; border-radius: 15px" id="Drive" name="Drive">
                                    <option value=""></option>
                                    <option value="Задний">Задний</option>
                                    <option value="Передний">Передний</option>
                                    <option value="Полный">Полный</option>
                                </select>

                                <br />

                                <span class="helvetica4">
                                    Цвет
                                </span>
                                <select style="width: 120px; height: 30px; margin-left: 44px; border-radius: 15px" id="Color" name="Color">
                                    <option value=""></option>
                                    <option value="Черный">Черный</option>
                                    <option value="Синий металик">Синий металик</option>
                                    <option value="Белый">Белый</option>
                                    <option value="Желтый">Желтый</option>
                                    <option value="Зеленый">Зеленый</option>
                                    <option value="Красный">Красный</option>
                                </select>

                                <br />
                                <span class="helvetica4">Пробег от</span>
                                <select style="width: 90px; height: 30px; margin-left: 17px; border-radius: 15px" id="Distance_min" name="Distance_min">
                                    <option value=""></option>
                                    <option value="<20000">менее 20000</option>
                                    <option value="50000">50000</option>
                                    <option value="100000">100000</option>
                                    <option value="200000">200000</option>

                                </select>

                                <span class="helvetica4" style="margin-left: 91px;">до</span>
                                <select style="width:90px;height:30px; border-radius:15px" id="Distance_max" name="Distance_max">
                                    <option value=""></option>
                                    <option value="50000">50000</option>
                                    <option value="100000">100000</option>
                                    <option value="200000">200000</option>
                                    <option value="более 200000">более 200000</option>
                                </select>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/ClearFormSearch.js"></script>
    <div class="btn btn-default" onclick="ClearSearchForm();" style="margin-left:748px">Очистить форму</div>
    <input type="submit" class="btn btn-success btn-large" style="margin-left:900px; margin-top:-57px;" value="Подобрать" />

</form>



<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="text-center">Топ-просмотр</h2>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            <img class="media-object img-rounded img-responsive" src="\donthotlink-crazy-frog-1280x1024-2.jpg" alt="placehold.it/350x250">
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Описание </h4>
                        <p class="list-group-item-text">
                            Qui diam libris ei, vidisse incorrupte at mel. His euismod salutandi dissentiunt eu. Habeo offendit ea mea. Nostro blandit sea ea, viris timeam molestiae an has. At nisl platonem eum.

                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> 14240 <small> Просмотров </small></h2>
                        <input type="button" class="btn btn-default btn-lg btn-block">
                        <div class="stars">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>