@model CarsShop.Models.Car

@{
    ViewBag.Title = "NewDeclaration";
}

<h2 style="text-align:center">Добавьте ваши данные</h2>
<br />
<div class="row">
    <div class="col-md-7">
        <div class="form-group">
            @Html.LabelFor(m => m.Mark, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Mark, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Mark)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Series, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Series, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Series)  
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.BodyType, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.BodyType, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.BodyType)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.FuelType, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.FuelType, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.FuelType)   
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Country, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Country)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.City, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.City, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.City)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Transmission, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Transmission, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Transmission)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Drive, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Drive, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Drive)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Color, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Color, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Color)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Year)
            </div>
            <br />
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Distance, new { @class = "col-md-3 control-label helvetica4", @style = "font-weight: normal" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.Distance, new { @class = "form-control", @style = "border-radius:10px;" })
                @Html.ValidationMessageFor(m => m.Distance)
            </div>
            <br />
        </div>
    </div>
    <div class="col-md-5">
        </div>
    </div>