@using CarsShop.Models
@model Car

@{
    ApplicationDbContext db = new ApplicationDbContext(); 
    int maxViews = db.Cars.Max(c => c.CountViews);
    Car car = db.Cars.FirstOrDefault(c => c.CountViews == maxViews);
    Picture pic = db.Pictures.FirstOrDefault(p => p.PicId == car.CarId && p.AvatarPic == true);
}

<div class="container">
    <div class="row">
        <div class="well">
            <h2 class="text-center">Топ-просмотр</h2>
            <div class="list-group">
                <a href="@Url.Action("Viewsplusplus", "UserActions", new { CarId = car.CarId })" class="list-group-item">
                    <div class="media col-md-3">
                        <figure class="pull-left">
                            @if(pic != null)
                            { 
                                    @Html.Raw("<img style = 'width:260px; height:200px; border:1px solid rgba(0,148,225,0.3);' src=\"data:image/jpeg;base64,"
                                                      + Convert.ToBase64String(pic.Image) + "\" />")
                            }
                        </figure>
                    </div>
                    <div class="col-md-6">
                        <h4 class="list-group-item-heading"> Описание </h4>
                        <p class="list-group-item-text" style="font-size : 20px;font-family:'Courier New'">
                            @("Марка:" + car.Mark + " " + car.Series + " " + car.BodyType + ";" + "Цвет:" + car.Color + " " +
                  "Привод:" + car.Drive + ";" + car.FuelType + " " + "Коробка:" + car.Transmission + ";" + "Год выпуска:" + car.Year + ";Пробег:" + car.Distance)
                        </p>
                    </div>
                    <div class="col-md-3 text-center">
                        <h2> @car.CountViews <small> Просмотров </small></h2>
                        <h4>@(car.Price + "$")</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
